@import "tailwindcss";

/* فونت PeydaWeb */
@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb/woff2/PeydaWeb-Regular.woff2') format('woff2'),
       url('/fonts/PeydaWeb/woff/PeydaWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb/woff2/PeydaWeb-Bold.woff2') format('woff2'),
       url('/fonts/PeydaWeb/woff/PeydaWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb/woff2/peydaWeb-light.woff2') format('woff2'),
       url('/fonts/PeydaWeb/woff/peydaWeb-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb/woff2/PeydaWeb-Medium.woff2') format('woff2'),
       url('/fonts/PeydaWeb/woff/PeydaWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PeydaWeb';
  src: url('/fonts/PeydaWeb/woff2/PeydaWeb-SemiBold.woff2') format('woff2'),
       url('/fonts/PeydaWeb/woff/PeydaWeb-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'PeydaWeb', Arial, Helvetica, sans-serif;
  direction: rtl;
  text-align: right;
}
